.mystyle {
    font-size: 24px; /*размер шрифта*/
    font-weight: 900; /*жирность шрифта*/
    font-style: italic; /*наклон шрифта*/
    color: rgba(63, 119, 21, 0.4); /*цвет шрифта*/
    color: #aa281166; /*цвет шрифта РАБОТАТЕТ ТОЛЬКО ПОСЛЕДНЕЕ ИЗ ПОВТОРЯЮЩИХСЯ СВОЙСТВ*/
    text-shadow: 4px -5px 4px #00547B;
    }

.text{       /*с точки начинается обращение к классу с решетки к ID*/
    color: magenta;
    text-shadow: none;
    }

.A{
    color: rgb(29, 22, 29) 23, 29);
    text-shadow: 4px -5px 4px #00547B;
    }

.B{
    color: rgb(0, 255, 64);
    text-shadow: none;
    background-color: rgb(36, 10, 26);
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-top: 5px;
    }

.C{
    color: rgb(241, 234, 238);
    text-shadow: none;
    background-color: rgb(184, 63, 138);
    padding: 45px 15px 20px 30px;
    }

body{
    background-color: rgba(59, 55, 66, 0.424);
    margin: 0;
}

.block{
    background-color: rgba(255, 0, 0, 0.356);
    width: 300px;
    height: 300px;
    border: 4px solid green; /*solid dotted dashed*/
    border-radius: 10px 30px 0px 5px; /*скругляет углы*/
    padding: 30px;/*отступы контента*/
    box-sizing: border-box; /*сохраняет размер блока как указанный 300*300 не смотря на border и padding которые увеличивают блок*/
    opacity: 0.5;/*от нуля до единицы прозрачность*/
    box-shadow: 5px 5px 10px 1px indigo; /*ТЕНЬ БЛОКА 4й параметр это интенсивность от нуля до 5px со словом inset перед параметрами тень будет внутри, если поставить параметры еще раз через запятую, то будет и внутренняя тень и наружняя*/
    /* box-shadow: inset 5px 5px 10px 1px indigo, 5px 5px 10px 1px indigo; */
    margin-left: 100px;
    margin-top: 50px;
}

.button{
background-color: olive;
width: 150px;
border: 1px solid black;
border-radius: 5px;
box-sizing: border-box;
text-shadow: 4px -5px 5px rgb(0, 0, 0);
box-shadow: 10px 10px 10px 0 rgb(9, 17, 20);
font-size: 20px; /*размер шрифта*/
font-weight: 900; /*жирность шрифта*/
margin-left: 100px;
margin-top: 50px;
text-align: center;
padding: 20px 0px; /*выровняли по центру по вертикали*/
cursor: pointer;
user-select: none;/*запрещает выделение текста кнопки*/
transition: 0.4s;/*время перехода в hover*/

}

.button:hover{/*срабатывает при наведении курсора*/
    box-shadow: 0px 0px 10px 0 rgb(9, 17, 20);
    background-color: coral;
}

