body{
    margin: 0; /*поля страницы*/
}
.A{ /*шапка*/
    background-color: rgb(75, 118, 168); 
    height: 42px;
    font-family: Arial, Helvetica, sans-serif; /*шрифт*/
    font-size: 14px;
    font-weight: 700; /*жирность шрифта*/
    color: rgb(255, 255, 255);
}
    .A1{
        margin-left: 5%;
        vertical-align: middle;
    }
    .AB{
        margin-left: 7px;
    }
    .AA{
        margin-left: 5%;
        padding: 7px 7px;
        background-color: rgb(34, 75, 121);
        border-radius: 20px;

        }
    .A2{
        background-color: rgb(34, 75, 121);
        width: 250px;
        border: none;
        color: rgba(142, 173, 202);
        /* border-collapse: collapse; */
    }
    .A3{
        vertical-align: middle;
    }    
    .A4{
        margin-left: 30px;   
        top: 9px;
        position: relative;
    }    




.D{
    background-color: rgb(255, 255, 255);   
}
    .D1{
        margin-right: 20px;
        vertical-align: middle;
        }
        .D1:hover{/*срабатывает при наведении курсора*/
            box-shadow: 0px 0px 100px 0 rgb(9, 17, 20);
            width: 300px;
            transition: 0.4s;
        }
    .D2{
        margin-right: 20px;
        vertical-align: middle;
        }
        .D2:hover{/*срабатывает при наведении курсора*/
            box-shadow: 0px 0px 100px 0 rgb(9, 17, 20);
            width: 300px;
            transition: 0.4s;
        }
    .D3{
        vertical-align: middle;
        }
        .D3:hover{/*срабатывает при наведении курсора*/
            box-shadow: 0px 0px 100px 0 rgb(9, 17, 20);
            width: 300px;
            transition: 0.4s;
        }